/* Button base styles */
.hamburger {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40px;
  height: 40px;
}

/* Three horizontal lines */
.line {
  width: 30px;
  height: 3px;
  /* background-color: #333; */
  background-color: #FFF;
  transition: transform 0.3s, opacity 0.3s;
}

/* When open, animate to X */
.hamburger.open .line:nth-child(1) {
  transform: rotate(45deg) translateX(2px) translateY(10px);
}

.hamburger.open .line:nth-child(2) {
  opacity: 0;
}

.hamburger.open .line:nth-child(3) {
  transform: rotate(-45deg) translateX(0px) translateY(-10px);
}
